<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>

  <body>
    <div id="navbar"></div>
    {{{body}}}
  </body>

  <footer></footer>
</html>

<script src="/scripts/main.js">

</script>